<!DOCTYPE html>
  <html>
    <head>
      <img src="assets/mark-heimann.jpg" style="width:128px;height:128px;">
      <nav>
          <ul>
              <li><a href="index.html">Home</a></li>
              <!-- <li><a href="projects.html">Projects</a></li> -->
              <li><a href="academic.html">Academic Activities</a></li>
              <li><a href="other.html">Other Activities</a></li>
              <li><a href="assets/MarkHeimann_CV.pdf">CV</a></li>
          </ul>
      </nav>

      <h1 style="text-align:center">Mark Heimann</h1>

      <title>{{ page.title }}</title>
      <!-- link to main stylesheet -->
      <link rel="stylesheet" type="text/css" href="css/main.css">
    </head>
    <body>
      
      <div class="container">
      
      {{ content }}
      
      </div><!-- /.container -->
      <footer>
          <ul>
              <li><a href="mailto:markheimann@umich.edu">Contact</a></li>
              <li><a href="https://github.com/markheimann">GitHub</a></li>
        </ul>
      </footer>
    </body>
  </html>